/* footer */
.footer-section {
    background: #0a112f;
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .footer-menu {
    float: left;
    width: 100%;
  }
  
  .footer-menu p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 22px;
  }
  
  .footer-menu li {
    float: left;
    width: 33%;
    margin-bottom: 0px;
  }
  
  .footer-menu-2 {
    margin-left: 20%;
  }
  
  .footer-section p {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 22px;
  }
  
  .footer-section-2 {
    background: #0a112f;
    float: left;
    width: 100%;
    margin: 41px 0 0px;
    padding: 30px 0px;
    border-top: 1px solid #3b4367;
    border-bottom: 1px solid #3b4367;
  }
  
  .footer-section p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 22px;
  }
  
  .footer-section-2 ul {
    display: inline-flex;
  }
  
  .footer-section-2 ul li {
    padding: 0.9px 12.3px 0.6px 0.9px;
  }
  
  .footer-section-2 .footer-social-icons {
    margin-left: 95px;
  }
  
  .footer-section-2 .footer-subscribe-form input[type="email"] {
    height: 40px;
    background: #ffffffed;
    border: none;
    padding-left: 12px;
    border-radius: 4px;
    width: 64%;
    color: #222222;
  }
  
  .footer-section-2 .footer-subscribe-form button {
    background-color: #1a73e8 !important;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    padding: 12px 32px 12px 30px;
    color: #fff;
    font-size: 14px;
    float: right;
    margin-right: 6px;
    border: 0px;
    cursor: pointer;
  }
  
  .footer-section-3 {
    background: #0a112f;
    float: left;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .footer-section-3 .footer-last-1 {
    height: 16px;
    margin: 0 15px 0 0;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.14;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .footer-last-1 span {
    opacity: 0.8;
  }
  
  .footer-section-3 span {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  }
  
  .footer-section-3 .footer-last-2 {
    height: 16px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.14;
    letter-spacing: normal;
    color: #fff;
    float: right;
  }
  
  .footer-menu li span {
    margin: 20px 40px 14px 0px;
    opacity: 0.8;
    
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  
  .footer-menu-2 li span {
    margin: 20px 40px 14px 0px;
    opacity: 0.8;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    white-space: nowrap;
  }
  
  .footer-menu li span:hover {
    border-bottom: solid 1px white;
    opacity: 1;
  }
  
  .footer-menu-2 li span:hover {
    border-bottom: solid 1px white;
    opacity: 1;
  }
  
  .footer-last-2 span {
    opacity: 0.8;
  }
  
  .footer-section-3 span:hover {
    border-bottom: solid 1px white;
    opacity: 1;
  }
  
  .footer-section .container-website {
    display: block;
    width: 1260px;
    margin: 0 auto;
  }
  
  .footer-section .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .footer-section .col-md-7 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .footer-section .col-md-2 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .footer-section .col-md-3 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /* footer */
  
  span.error {
    margin-left: 0px !important;
  }